@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg_header {
    background: -webkit-linear-gradient(to right, rgb(185, 197, 113), rgb(245, 236, 73));
    background: linear-gradient(to right, rgb(185, 197, 113), rgb(245, 236, 73));
    /* background: -webkit-linear-gradient(to right, #6a7dfe 0%, rgba(7,163,222,1));
    background: linear-gradient(to right,  #6a7dfe 0%, rgba(7,163,222,1)); */
}

.bg_menu {
    /*background: -webkit-linear-gradient(to right, rgb(185, 197, 113), rgb(245, 236, 73));*/
    background: rgb(185, 197, 113);
    /* background: -webkit-linear-gradient(to right, #6a7dfe 0%, rgba(7,163,222,1));
    background: linear-gradient(to right,  #6a7dfe 0%, rgba(7,163,222,1)); */
    /* background: -webkit-linear-gradient(to right, rgba(31,70,127,1) 0%, rgba(7,163,222,1));
    background: linear-gradient(to right,  rgba(31,70,127,1) 0%, rgba(7,163,222,1)); */
}

.clearfix{
    /*Si no colocamos esto lo que hace el navegador es colocarme este elemento con esta clase al lado
    de los otros, y por lo tanto la pagina tomará un forma erronea*/
    clear: both;
    /*Aquí le indicamos que no lo mueva a ningún lado*/
    float: none;
}
