.btn_general {
    background: rgb(185, 197, 113);
}

.btn_general:hover {
    background: rgb(207, 221, 127);
}

.margin_formulario {
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;
}
.margin_table {
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
}

.margin_graph {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.table_theme {
    background: rgb(245, 236, 73);
}

.table_title {
    background: rgb(207, 221, 127);
    width: 100%;
    text-align: center;
}

.shadow_general {
    box-shadow: 0 4px 8px 0 rgba(207, 221, 127, 1);
}

.float_right {
    margin-left: 91.5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
}
.pagination-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #fbf8f8;
    background-color: rgb(202, 1, 135);
    
}
a.pagination-link.prev {
    background-color: rgb(202, 1, 135);
    color: #fbf8f8;
    border-color: #ccc;
    
}
a.pagination-link.next {
    background-color: rgb(202, 1, 135);
    color: #fbf8f8;
    border-color: #ccc;
    
}